/* @import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=Sofia");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  font-size: 28px;
  font-family: 'Times New Roman', Times, serif; 
  background-image: url('img/imageedit_2_8444518671.png');;
  /* background-image: url('https://images.unsplash.com/photo-1573495783026-9a628c32fb3e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1169&q=80'); */
    background-repeat: no-repeat;
    background-size: cover ;
    background-attachment: fixed;

  }
 
 /* <!-------------NAVBAR--------------------> */
* {
  margin: 0;
  padding: 0;
}

body {
  height: 200vh;
}

.bg {
  /* background-color: pink; */
  height: 100px;
}

li {
  display: inline;
  padding: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar {
  /* color: white; */
  position: fixed;
  padding: 13px 0;
  border-radius: 5px;
  right: 0;
  left: 0;
  background-color: transparent;
  z-index: 1;
}

.BgColour {
  color: black;
  transition: all .5s;
  background-color: rgb(250, 250, 250);
  background-image: url(img/whitetext.png);
  background-size: cover;

  border-bottom: 1px solid lightgray;
}

.navbar a{
  text-decoration: none;
  color: rgb(1, 3, 10);
  font-family: 'Times New Roman', Times, serif;
}
@media screen and (max-width: 800px) {
  .navbar {
    width: 200%; /* The width is 100%, when the viewport is 800px or smaller */
    
  }
}
/* <!---------------HOMEPAGE----------------------> */

.head{
  /* margin: 10% 39%; */
  text-align: center;
  text-justify: inter-word;
  font-size: 1;
}
.head span1{
  font-size: 50px;
  font-family: 'Dancing script', cursive;
  font-size: 80px;
  
  
}
h1 {
  font-size: 5vmin;
  color: #f5dd09;
  text-align: left;
  font-family: 'Dancing Script';
  font-size: 60px;
  text-align: center;
  margin: 1rem 0 1rem 2rem;
}
.head h2{
  font-family: 'Times New Roman', serif;
}

/* Typewriter effect 1 */
@keyframes typing {
  0.0000%, 27.3488% { content: ""; }
  1.1395%, 26.2093% { content: "D"; }
  2.2791%, 25.0698% { content: "De"; }
  3.4186%, 23.9302% { content: "Dev"; }
  4.5581%, 22.7907% { content: "Deve"; }
  5.6977%, 21.6512% { content: "Devel"; }
  6.8372%, 20.5116% { content: "Develo"; }
  7.9767%, 19.3721% { content: "Develop"; }
  9.1163%, 18.2326% { content: "Develope"; }
  10.2558%, 17.0930% { content:"Developer"; }
  11.2558%, 17.0930% { content:"Developer"; }


  30.7674%, 51.2791% { content: ""; }
  31.9070%, 50.1395% { content: "S"; }
  33.0465%, 49.0000% { content: "St"; }
  34.1860%, 47.8605% { content: "Stu"; }
  35.3256%, 46.7209% { content: "Stud"; }
  36.4651%, 45.5814% { content: "Stude"; }
  37.6047%, 44.4419% { content: "Studen"; }
  38.6047%, 44.4419% { content: "Student"; }
  39.6047%, 44.4419% { content: "Student"; }

  54.6977%, 75.2093% { content: ""; }
  55.8372%, 74.0698% { content: "C"; }
  56.9767%, 72.9302% { content: "Co"; }
  58.1163%, 71.7907% { content: "Cod"; }
  59.2558%, 70.6512% { content: "Code"; }
  60.3953%, 69.5116% { content: "Coder"; }
  61.3953%, 69.5116% { content: "Coder"; }

  78.6279%, 96.8605% { content: ""; }
  79.7674%, 95.7209% { content: "H"; }
  80.9070%, 94.5814% { content: "Hu"; }
  82.0465%, 93.4419% { content: "Hum"; }
  83.1860%, 92.3023% { content: "Huma"; }
  84.3256%, 91.1628% { content: "Human"; }
  85.3256%, 91.1628% { content: "Human"; }

}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.typewriter {
  --caret: currentcolor;
  color: #2c011d;
}

.typewriter::before {
  content: "";
  animation: typing 11.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 10px solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}


@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }
  
  @keyframes sequencePopup {
    0%, 100% { content: "developer"; }
    25% { content: "student"; }
    50% { content: "coder"; }
    75% { content: "human"; }
  }

  .typewriter::before {
    content: "developer";
    animation: sequencePopup 12s linear infinite;
  }
}
.box1, .box2, .box4{
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: table;
  background-attachment: fixed;
}
.box1{
  /* background-color: rgb(115, 113, 109); */
  opacity: 0.9;
}
/* 
.box3{
  background-color: #393935;
} */
.box4{
  background-image: url('https://www.intelligenthq.com/wp-content/uploads/2020/07/Building-Blockchain-And-AI-Tech-For-Good-APIs-To-Protect-Peoples-Data.jpg');
}
.box1, .box2, .box3 p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
    margin: 0px;
  vertical-align: middle;
}
/* aboutsection  box2 */
img{
  height: 70vh;
  border-radius: 5%;
  margin: 10% 15%;
  margin-left: 30%;
}
.box2 h2{
  margin-top: 20px;
  color: #8B1874;
  text-decoration-line: underline;
  
}
.about-section{
  background-color: #f5dd09;
  
}
.box2 text{
  margin: 10%;
  
}
.box2 p{
  color: #ffc400de;
  font-family:'Kaushan Script';
  font-size: 20px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  
}
.grid-item {
  align-items: center;
  margin-left: 10px;
  margin-top: 50px ;

}
.grid-item2{
  font-size: 20px;
  margin: 13% 5%;
  margin-left: 20%;
  margin-right: 10%;
  color: rgb(3, 3, 3);
  text-align: justify;
  text-justify: inter-word;
 max-width: 90%;
 font-family: 'Times New Roman', Times, serif;
}
/* skillsSection */
#skills{
  background-image: url(img/whi);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px;
  max-height: 100vh;
  
  
  
}
.box3 .heading{
  font-size: 100px;
  text-align: center;
}
.container .skills-list {
margin-top: 5px;
display:grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(3, 1fr);
justify-content: center;
align-items: center;
row-gap: 0px;


}
.container .skills-list img{
  align-items: center;
width: 150px;
height: 150px;
border-radius: 10px;
background-color: #fff;
padding: 20px;
margin: 30px auto;

}
.container .skills-list img:hover{
box-shadow: 0px 0px 6px 7px rgb(116, 110, 110);
transform: scale(1.1,1.1);
transition: all .4s ease-out;
}
/* resumesection box3*/
.box3{
  background-image: url(img/blacktext.png);
  background-repeat: repeat;
  background-size: cover;
}
.Main h1{
  text-align: center;
  color:  #e8c112;
}
.Main {
  padding-top: 80px;
	padding-bottom: 80px;  
  color: black;
  
  position: relative;
  background-repeat: repeat;
}

.TopTitle {
	padding: 0 0 30px;
 
	text-align: center;
}
.FirstTitle {
	font-size: 40px;
	color: #fff;
}
.secTitle {
	color: #ffeb3b;
	font-size: 60px;
  color: black
}

.ag-timeline_item {
	margin: 0 0 100px;
	position: relative;
  overflow: hidden;
}
.ag-timeline_item:nth-child(2n) {
	text-align: right;
}

.ag-timeline {
	display: inline-block;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
}
.ag-timeline_line {
	width: 8px;
	background-color: #393935;
	position: absolute;
	top: 2px;
	left: 50%;
	bottom: 0;
	overflow: hidden;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.ag-timeline_line-progress {
	width: 100%;
	height: 20%;
	background-color: #f5dd09;
}

.ag-timeline-card_box {
	padding: 0 0 20px 50%;
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
	padding: 0 50% 20px 0;
}

.ag-timeline-card_point-box {
	display: inline-block;
	margin: 0 14px 0 -28px;
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
	margin: 0 -28px 0 14px;
}

.ag-timeline-card_point {
	height: 50px;
	line-height: 50px;
	width: 50px;
	border: 3px solid #f5dd09;
	background-color: #1d1d1b;
	text-align: center;
	font-family: 'ESL Legend', sans-serif;
	font-size: 20px;
	color: #FFF;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.js-ag-active .ag-timeline-card_point {
	color: #1d1d1b;
	background-color: #f5dd09;
}

.ag-timeline-card_meta-box {
	display: inline-block;
}

.ag-timeline-card_meta {
	margin: 10px 0 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: bold;
	font-size: 34px;
	color: wheat;
  
  font-size: 25px;
}

.ag-timeline-card_item {
	display: inline-block;
  font-family: 'Redressed';
	width: 45%;
	margin-left: 40px;
  margin-right: 40px;
	/* background-color: #e1ca1f; */
  background-image: url(https://img.freepik.com/free-photo/stone-texture_1194-6381.jpg?w=2000);
	opacity: 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
	-moz-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
	-o-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
	box-shadow: 0 0 0 0 rgba(0,0,0,.5);
	-webkit-transition: -webkit-transform .5s, opacity .5s;
	-moz-transition: -moz-transform .5s, opacity .5s;
	-o-transition: -o-transform .5s, opacity .5s;
	transition: transform 0.6s, opacity .5s;
	position: relative;
}
.ag-timeline-card_arrow {
	height: 18px;
	width: 18px;
	margin-top: 15px;
	/* background-color: #e1ca1f; */
  background-image: url(https://img.freepik.com/free-photo/stone-texture_1194-6381.jpg?w=2000);
	-index: -1;
	position: absolute;
	top: 0;
	right: 0;
  -webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item {
	-webkit-transform: translateX(-200%);
	-moz-transform: translateX(-200%);
	-ms-transform: translateX(-200%);
	-o-transform: translateX(-200%);
	transform: translateX(-200%);
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
	-webkit-transform: translateX(200%);
	-moz-transform: translateX(200%);
	-ms-transform: translateX(200%);
	-o-transform: translateX(200%);
	transform: translateX(200%);
}

.js-ag-active.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
.js-ag-active.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}



.ag-timeline-card_img-box{
  padding: 15px;
  wid
}
.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
	margin-left: calc(-18px / 2);
	margin-right: calc(-18px / 2);
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_arrow {
  margin-left: -10px;
  right: auto;
  left: 0;
}

.ag-timeline-card_img {
	width: 100%;
	border: 1px solid #03a9f4;
}
@media only screen and (max-width: 979px) {
  .ag-timeline_line {
	left: 30px;
  }

  .ag-timeline_item:nth-child(2n) {
	text-align: left;
  }

  .ag-timeline-card_box,
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
	padding: 0 0 20px;
  }
  
  .ag-timeline-card_meta-box {
    display: none;
  }
  
  .ag-timeline-card_point-box,
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
    margin: 0 0 0 8px;
  }
  
  .ag-timeline-card_point {
    height: 40px;
    line-height: 40px;
    width: 40px;
  }
  
  .ag-timeline-card_item {
    width: auto;
    margin: -65px 0 0 75px
  }
  
  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
  }
  
  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
    right: auto;
    left: 0;
  }
  
  .ag-timeline-card_arrow {
    margin-top: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .Container {
    width: 96%;
  }

  .ag-timeline-card_img {
    height: auto;
    width: auto;
  }
}

@media only screen and (max-width: 639px) {
  .secTitle {
    font-size: 60px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .Container {
    width: 750px;
  }
}

@media (min-width: 980px) and (max-width: 1161px) {
  .Container {
    width: 960px;
  }
}

  /* projects */
  .box7{
    margin-left: 8%;
    padding: 20px;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
   
  }
  .wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
    align-items: center;
    align-content: center;
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 400px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
    background-color: #b3cddb;
  }
  .carousel .card .img {
    
    height: 148px;
    width: 148px;
    
  }
  .card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
    
  }
  .carousel .card h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin: 30px 0 5px;
  }
  .carousel .card span {
    color: #6A6D78;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .carousel button{
    background-color: #4c90af; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .carousel button:hover{
    background-color: #024868;
    border-radius: 15px;
    box-shadow: gray;
  }
  .carousel button a{
    text-decoration: none;
    color: antiquewhite;
  }
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }

/* contactme */
.box5{
  padding: 65px;
  /* background-color: rgb(38, 37, 37); */
  background-image: url(img/blacktext.png);
  color: white;
  font-family: 'Times New Roman', Times, serif;
}
.box5 button{
  padding: 7px;
  background-color: #f5dd09;
}
.box5 button:hover{
  cursor: pointer;
}
.box5  a{
  text-decoration: none;
  color: white;
}
.box5 h2{
  font-family: 'Dancing Script';
  font-size: 60px;
}
.row .column{
 
  text-align: right;
  
}
input[type=text], select, textarea {
  width: 80%;
  padding: 12px;
  color: #bbb;
  border: 0.1px solid white;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: rgb(38, 37, 37);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input[type=submit] {
  background-color: rgb(38, 37, 37);
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

input[type=submit]:hover {
  border: 1px solid white;
  background-color: rgb(29, 123, 29);
  opacity: 0.6;
}
.container1 {
  border-radius: 5px;
  padding: 10px;
  
 
}
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 40px;
}

.column img{
  border-radius: 50%;
  width: 250px;
  height: 300px;
  
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.fa {
  padding: 2px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin-left: 10px;
}
.fa-facebook {
  color: #3B5998;
}

.fa-twitter {
  color: #2380c7;
}
.fa-linkedin {
  color: #007bb5;
}
.fa-instagram {
 color: rgb(238, 32, 152);
}
.fa-github{
  color: rgb(249, 246, 246);
}
.fa-envelope{
  color: white;
}
.fa-download{
  color: white
}

/* reserverights */
.reserverights{
  background-color: rgb(28, 18, 18);
  height: 50px;
  color: white;
  font-size: 1px;
  padding: 20px;
  font-family:'Times New Roman', Times, serif;

}
